@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Jost", sans-serif;
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-between {
        @apply flex justify-between
    }

    .forecast-card {
        @apply flex flex-col items-start bg-white/10 backdrop-blur-lg md:w-64
    }

    .forecast-container {
        @apply flex gap-4 xl:items-center xl:justify-center overflow-x-auto px-4 py-2
    }
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #fd9610d7;
    border-radius: 20px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}